In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

from plotly.offline import iplot
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
# load data
df = pd.read_csv('./data/CreditCard Clustering Task - Data.csv', index_col="CUST_ID")
df.head()
df.shape

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
CUST_ID,,,,,,,,,,,,,,,,,
C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

(8950, 17)

In [3]:
# columns that we use
features = ['BALANCE', 'PURCHASES', 'CASH_ADVANCE', 'PAYMENTS', 'CREDIT_LIMIT', 'PURCHASES_TRX']
df = df[features].dropna()

# remove outlier

In [4]:
def StandardDeviation(df, coef_sd=4) :
    """
    Remove outlier with Standard Deviation.
    """
    
    df_tmp = df.copy()

    mean_df = df.mean()
    std_df = df.std()

    # inside distribution
    in_range = df_tmp[(df_tmp >= mean_df - coef_sd * std_df) & \
                      (df_tmp <= mean_df + coef_sd * std_df)]

    # outside distribution
    out_of_range = df_tmp[(df_tmp < mean_df - coef_sd * std_df) & \
                          (df_tmp > mean_df + coef_sd * std_df)]

    return in_range, out_of_range

In [5]:
for feat in features:
    df[feat] = StandardDeviation(df[feat])[0]
    
df = df[features].dropna()

In [7]:
df.to_csv('./data/01_clean.csv')